In [1]:
# Create Heatmaps for Weather Parameters.
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
# When using gmaps: Data used for any mapping must be either int or float.

In [2]:
###Steps:
# Import the dependencies.
# Use Panads to create df to read and store CSV.
# Configure gmaps to use Google API key.
# Create maps

In [3]:
# create df to read and store CSV.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ribeira Grande,PT,2022-11-05 02:49:10,38.5167,-28.7000,63.77,85,100,1.99
1,1,Portland,US,2022-11-05 02:48:31,45.5234,-122.6762,58.95,94,100,17.27
2,2,Tuktoyaktuk,CA,2022-11-05 02:49:10,69.4541,-133.0374,10.40,85,100,12.66
3,3,Centralia,US,2022-11-05 02:47:25,46.7162,-122.9543,57.43,97,100,9.22
4,4,Vao,NC,2022-11-05 02:49:11,-22.6667,167.4833,75.02,87,66,20.00

In [4]:
# Get df data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Google heatmaps do not plot negative numbers.

# Option 1, Use for loop to iterate through max_temp and add temperatures that are > 0 °F to a new list.
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
    # max() gets the largest value between the temp and 0.
    #temps.append(max(temp, 0))
    
# Option 2, Perform a list comprehension within the heatmap_layer() function.
# Replace temps with this code for the list comprehension:
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []

In [21]:
# Create heatmap for the maximum temperature.
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
# The array length must be equal to the locations array length.
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
#fig = gmaps.figure()
# Add geographic center of Earth in form of latitude and longitude (30.0° N and 31.0° E).
# Also, add a zoom level so that only one map of Earth is shown.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.4)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Adjust dissipation option hor better heat display
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Create Percent Humidity Heatmap
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Percent cloudiness heatmap
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Wind Speed Heatmap
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# Vacation Criteria
# Input statements
# Create df that contains all cities that meet temperature criteria.
##Syntax: new_df = old_df.loc[(old_df["Max Temp"] <= max_temp) & \
                    #(old_df["Max Temp"] >= min_temp)]

In [25]:
# Vacation Criteria
# Input statements
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [26]:
# Create df that contains all cities that meet temperature criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Vao,NC,2022-11-05 02:49:11,-22.6667,167.4833,75.02,87,66,20.00
9,9,Mount Isa,AU,2022-11-05 02:49:13,-20.7333,139.5000,87.57,27,40,5.75
10,10,Cabo San Lucas,MX,2022-11-05 02:46:13,22.8909,-109.9124,75.51,72,5,1.99
14,14,Hilo,US,2022-11-05 02:49:14,19.7297,-155.0900,78.53,86,75,3.00
17,17,Gizo,SB,2022-11-05 02:49:15,-8.1030,156.8419,83.95,70,100,2.24
21,21,Amahai,ID,2022-11-05 02:49:16,-3.3333,128.9167,86.61,63,92,5.30
30,30,Yulara,AU,2022-11-05 02:49:19,-25.2406,130.9889,85.44,14,0,8.08
36,36,Bengkulu,ID,2022-11-05 02:49:21,-3.8004,102.2655,80.28,80,100,7.40
40,40,Avarua,CK,2022-11-05 02:46:32,-21.2078,-159.7750,75.25,69,40,12.66
41,41,Conde,BR,2022-11-05 02:49:23,-7.2597,-34.9075,76.46,88,40,2.30

In [27]:
# Look for null values.
# Options: 
# preferred_cities_df.isnull().sum()
# preferred_cities_df.notnull().sum()
preferred_cities_df.count()

City_ID       128
City          128
Country       128
Date          128
Lat           128
Lng           128
Max Temp      128
Humidity      128
Cloudiness    128
Wind Speed    128
dtype: int64

In [ ]:
# Drop rows with null values using dropna() at end of filtering statement when creating new DataFrame.

In [28]:
# Map Vacation Criteria.
# 1, Get Travel Destinations.
# Make coppy, .copy() of preferred_cities_df, rename it, edit the columns.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
4              Vao      NC     75.02 -22.6667  167.4833
9        Mount Isa      AU     87.57 -20.7333  139.5000
10  Cabo San Lucas      MX     75.51  22.8909 -109.9124
14            Hilo      US     78.53  19.7297 -155.0900
17            Gizo      SB     83.95  -8.1030  156.8419
21          Amahai      ID     86.61  -3.3333  128.9167
30          Yulara      AU     85.44 -25.2406  130.9889
36        Bengkulu      ID     80.28  -3.8004  102.2655
40          Avarua      CK     75.25 -21.2078 -159.7750
41           Conde      BR     76.46  -7.2597  -34.9075

In [ ]:
# 2, Retrieve Hotels from Nearby Search.
# Set parameters for the search.
# Iterate through df.

In [36]:
# Import the API key.
from config import g_key
# Set parameters to search for a hotel.
params = {"radius": 5000,
        "type": "lodging",
        "key": g_key}

In [42]:
# Iterate through df.
# Use iterrows() to perform iteration.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [41]:
# hotel_df output
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Vao,NC,75.02,-22.6667,167.4833,Hotel Kou-Bugny
9,Mount Isa,AU,87.57,-20.7333,139.5000,ibis Styles Mt Isa Verona
10,Cabo San Lucas,MX,75.51,22.8909,-109.9124,Hotel Tesoro Los Cabos
14,Hilo,US,78.53,19.7297,-155.0900,Hilo Hawaiian Hotel
17,Gizo,SB,83.95,-8.1030,156.8419,Imagination Island
21,Amahai,ID,86.61,-3.3333,128.9167,HOTEL ISABELA
30,Yulara,AU,85.44,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
36,Bengkulu,ID,80.28,-3.8004,102.2655,Grage Hotel Bengkulu
40,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
41,Conde,BR,76.46,-7.2597,-34.9075,Pousada Beija Flor

In [43]:
# Maximum Temperature Heatmap from a hotel_df.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
# Assign variable for markers to be placed on each city.
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
# Add markers on top of heatmap.
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# Add pop-up marker for each city displaying hotel name, city name, country, maximum temperature.

# 1st, add info_box_template.
# Syntax:
# Assign variable to a multiline string using three quotes.
#info_box_template = """
#<dl>
#<dt>Name</dt><dd>{column1}</dd>
#<dt>Another name</dt><dd>{column2}</dd>
#</dl>
#"""

# Syntax explanation: 
# <dl> description list.
# <dt> term or name in a description list that is nested under <dl>.
# <dd> used to define the term or name or <dt>.

# 2nd, Set the hotel_info equal to the info_box_content.
# 2a, Find hotel information by iterating through hotel_df, using iterrows().
# Assign variable.

In [44]:
# Add pop-up marker for each city displaying hotel name, city name, country, maximum temperature.
# 1, Add info_box_template.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 2, Set the hotel_info equal to the info_box_content...
# 2a, Find hotel information by iterating through hotel_df, using iterrows().
# Assign variable.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [45]:
# Maximum Temperature Heatmap from a hotel_df with pop-up markers.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
# Assign variable for pop-up marker to be placed on each city.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
# Add markers on top of heatmap.
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))